name: Pytest

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  docker:
    timeout-minutes: 10
    runs-on: ubuntu-lastest

 steps:
    - name: Checkout
      uses: actions/checkout@v1
